<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Utilisateurs</title>
</head>
<body>

<h1>Liste des Utilisateurs</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Adresse</th>
        <th>Détails</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="utilisateur : ${utilisateurs}">
        <td th:text="${utilisateur.id}"></td>
        <td th:text="${utilisateur.nom}"></td>
        <td th:text="${utilisateur.prenom}"></td>
        <td th:text="${utilisateur.adresse}"></td>
        <td><a th:href="@{'/utilisateurs/' + utilisateur.id}">Détails</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>
